/* App.css */
.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .audio-controls,
  .video-controls {
    margin-bottom: 20px;
  }
  
  .live-player {
    height: 200px;
    width: 400px;
    border: 1px solid #646cff;
    margin-bottom: 30px;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }